.our-details-heading {
    display: flex;
    margin-left: 1.1em; 
    color: #EF86C9;
}

.our-deatils-body {
    width: 100%;
    padding: 1em;   
}

.icons {
    margin-right: 1em;
    margin-left: 0.66em;
}
