@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --text-color: #f2f2f2;
    --background-color: #191a1c;
    --card-color: #0b0c0d;
    --place-color: #2c2d2e;
   
  }

body {
    font-family: 'IBM Plex Sans', sans-serif;
    /* background-color: var(--background-color); */
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
}

header {
    height: 400px;
    background-color: #343C42;
    /* padding: 1em; */
    margin: 0;
}

/* NAVIGATION MENU */

nav {
    margin: 1em 2em 0em 0em;
    float: right;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 2em;
    position: absolute; /* Changed to absolute positioning */
    right: 0; /* Align to the right */
    top: 0; /* Align to the top */
}

nav a {
    text-decoration: none; /* Remove underline for normal state */
    color: var(--text-color);
    margin-right: 2em;
    margin-top: 2em;
}

/* h2 {
    margin: 0;
} */

/* HOME PAGE */

.logobg {
    width: 350px;
    margin: 5em 0em -6em 6.1em;
}

.tag-container {
    font-size: 6em;
    font-weight: 400;
    margin-left: 1em;
}

.tagline {
    margin-bottom: -1em;
}

.homepg-contact-details {
    display: flex;
    column-gap: 6em;
    position: absolute;
    bottom: 4em;
    margin-left: 5.2em;
}

.home-serivce-locations-container {
    
    margin: 5.2em ;
    font-size: 1.5em;
    position: absolute;
    bottom: 4em;
    margin-bottom: -1.5em;
    right: 0em;
}

.home-serivce-locations-heading {
    margin-left: 0.9em
}

/* CONTACT PAGE */

.page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Add this line to stack items vertically */
    padding-top: 10em; 
}
  
.page-heading h2 {
    margin-bottom: 0; 
}

.line2 {
    margin-top: 0em
}



/* CONTACT US CARD */

.contact-us-heading, .success-message, .error-message {
    margin-left: 1.1em; 
    
}

.contact-us-heading {
    color: #6be2bb;
}

.success-message {
    color: #6be2bb;
}


.card-container {
    display: flex;
    flex-direction: column; 
    margin: 5em 1em 1em 1em; 
  }

.card-contents {
    width: 30em;
    background-color: var(--card-color);
    border-radius: 12px;
    padding: 1em;
  }

form {
    width: 100%;
    padding: 1em;   
}

label {
    padding: 0.66em; 
}

input {
    display: block;
    outline: none;
    border: none;
    padding: 0.4em 0.4em 0.4em 0em;
    margin: 1em 1em 1em 0.9em;
    width: 85.55%;
    background-color:  var(--card-color);
    color: var(--text-color);
    border-bottom: solid var(--background-color);
    border-bottom-width: 0.2em;
}

  
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--card-color) inset;
    -webkit-text-fill-color: var(--text-color);
}

textarea {
    font-family: 'IBM Plex Sans', sans-serif;
    height: 200px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: 1em 1em 1em 0.9em;
    resize: vertical;
    width: 85.55% !important;
    background-color:  var(--card-color);
    color: var(--text-color); 
    border-bottom: solid var(--background-color);
    border-radius: 0px;
    padding: 0.4em 0.4em 0.4em 0em;
    border-bottom-width: 0.2em;
}

textarea::placeholder,
input::placeholder {
    color: var(--place-color);  
}

input:hover, textarea:hover {
    border-bottom: solid var(--place-color);
    border-bottom-width: 0.2em;
}


.submit-btn {
    display: flex;
    width: auto;
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 4px;
    box-shadow: none;
    padding: 0.8em;
    justify-content: center;
    text-align: center;
}

.submit-btn:hover {
    border: none;
    background-color: #6be2bb;
    color: var(--background-color);
}




/* OUR DETAILS CARD */

.our-details-heading {
    display: flex;
    margin-left: 1.1em; 
    color: #EF86C9;
}

.our-deatils-body {
    width: 100%;
    padding: 1em;   
}

.icons {
    margin-right: 1em;
    margin-left: 0.66em;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.hours-container {
    display: inline-block;
}

.hours-heading{
    margin-left: 0.8em;
    margin-bottom: -1em;
}

.hours-text, 
.days-text, 
.public-hols-text {
    padding: 1em;  

}

.hours-text {
    margin-bottom: -3em; 
}

.days-text {
    margin-bottom: -1em;  
}

.public-hols-text {
    font-size: 0.8em;
}

.serivce-locations-container {
    float: right;
    margin-right: 1em ;
}

.serivce-locations-text {
    margin-right: 1.65em 
}

.serivce-locations-heading {
    margin-left: 1.3em
}


/* OUR SERVICES CARD */

.our-services-heading {
    display: flex;
    margin-left: 1.1em; 
    color: #90CAF3;
    position: relative;
    z-index: 10 
}

.our-services-blurb {
    margin-right: 3em;
    margin-bottom: 4em;
}

.our-services-list {
    margin-left: -1.3em;
    margin-bottom: 0em;
}

.service-card-contents {
    width: 25em;
    background-color: var(--card-color);
    border-radius: 12px;
    padding: 1em;
    
  }

  .our-services-body {
    width: 100%;
    padding: 0.5em 1.8em 1.8em 1.8em;  
    position: relative;
    z-index: 10 
}

.faq-blurb {
    margin-right: 3em;
    margin-bottom: 4em;
    position: relative;
    z-index: 10 
}

.faq-body {
    width: 100%;
    padding: 0.5em 1.8em 1.8em 1.8em;   
    position: relative;
    z-index: 10 
}

.faq-card-contents {
    width: 60em;
    background-color: var(--card-color);
    border-radius: 12px;
    padding: 1em;
    

  }

  .faq-heading {
    display: flex;
    margin-left: 1.1em; 
    color: #77E7C0;
    position: relative;
    z-index: 10 
    
}

.faq-questions {
    margin-top: 0em;
    margin-right: 4em;
}

.brushbg {
    position: absolute;
    margin: -1em;
    border-radius: 12px;
    width: 432px;
  }

  .waterbg {
    position: absolute;
    margin: -1em;
    
    border-radius: 12px;
    width: 990px;
  }
  
 